# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=cv_analytics_db
POSTGRES_PORT=port

# SQLAlchemy Async Connection String
DATABASE_URL=postgresql+asyncpg://postgres:your_password_here@db:port/cv_analytics_db